.App {
  text-align: center;
}

.App-header {
  background-color: #222831;
  padding: 1em;
  color: #eeeeee;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

btn-outline-dark {
  color: #393e46;
  border-top: #393e46;
}

.descriptionClass {
  font-size: larger;
  font-weight: 600;
}


h2 {
  color: #222831;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 100px;
}

img {
  border-style: ridge;
  border-width: 16px;
  border-color: #222831;
}

.likeDisplay {
  margin-top: 8px;
  font-weight: 600;
  font-size: larger;
}

.space-between {
  margin-top: 16px;
}
